/* About Styles */
.about__wrap {
  max-width: 1100px;
  height: 900px;
  margin-top: 40px;
  margin-inline: auto;
  margin-bottom: 200px;
}

.about__heading {
  font-size: 30px;
  font-weight: 800;
  color: transparent;
  background: var(--gradientColor);
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  margin-bottom: 16px;
}

.about__desc-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about__desc {
  color: var(--subTextColor);
}

.about__desc-title {
  font-size: 18px;
  font-weight: 700;
}

.about__desc-content {
  font-size: 16px;
  font-weight: 400;
}
