:root {
  --bgColor: #020617;
  --bgColor2: rgba(18, 22, 39, 0.8);
  --bgColor3: rgba(255, 255, 255, 0.05);
  --bgColor4: rgba(18, 22, 39, 1);
  --textColor: #ffffff;
  --redColor: rgba(219, 40, 40, 1);
  --subTextColor: rgba(148, 163, 184, 1);
  --gradientColor: linear-gradient(270.33deg, #d9c4af -70.15%, #ffffff 97.57%);
  --textBtnColor: #090909;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bgColor);
  color: var(--textColor);
  font-size: 16px;
  isolation: isolate;
}

.fui-toast {
  color: var(--textBtnColor);
}

.container {
  max-width: 1100px;
  width: 100%;
  margin-inline: auto;
  padding-bottom: 100px;
}

/* Error message styles */
.form-message {
  font-size: 14px;
  color: var(--redColor);
  position: absolute;
  top: 100%;
}

.form__group-textarea .form-message {
  top: 80%;
  right: 0;
}

.form__upload-group .form-message {
  top: 100%;
  width: 100%;
  text-align: center;
}
/* end Error message styles */

/* Effect Circle Styles */
.effect-circle-1 {
  width: 530px;
  height: 530px;
  border-radius: 100%;
  filter: blur(250px);
  background: rgba(27, 29, 48, 1);
  position: fixed;
  top: 4px;
  left: -57px;
  z-index: -1;
  opacity: 0.6;
}
.effect-circle-2 {
  width: 530px;
  height: 530px;
  border-radius: 100%;
  filter: blur(250px);
  background: rgba(27, 29, 48, 1);
  position: fixed;
  bottom: 4px;
  right: -57px;
  z-index: -1;
  opacity: 0.6;
}
/* end Effect Circle Styles */

/* Button Style */
.btn {
  padding: 12px 20px;
  border-radius: 12px;
  background: var(--gradientColor);
  color: var(--textBtnColor);
  font-weight: 500;
  font-size: 16px;
  border: none;
  outline: none;
}
/* end Button Style */

/* Title Style */
.title {
  font-size: 30px;
  font-weight: 800;
  color: transparent;
  background: var(--gradientColor);
  background-clip: text;
  -webkit-background-clip: text;
}
/* end Title Style */

/* Header Style */
.header {
  margin-top: 25px;
  margin-inline: 6%;
  background-color: var(--bgColor2);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  padding: 16px 40px;
  align-items: center;
  backdrop-filter: blur(70px);
}

.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  animation: fadeDown2 ease 0.4s;
}

@keyframes fadeDown2 {
  from {
    transform: translateY(-200%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 6px;
}

.header__logo-name {
  color: var(--textColor);
  font-weight: 700;
  font-size: 18px;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__nav-link {
  color: var(--subTextColor);
  font-weight: 500;
  transition: ease 0.2s;
}

.header__nav-link.active {
  color: var(--textColor);
  font-weight: 600;
}

.header__nav-link:hover {
  color: var(--textColor);
  font-weight: 600;
}

/* end Header Style */

/* Modal Style */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  isolation: isolate;
  z-index: 50;
  animation: fadeIn ease 0.25s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal__overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
  cursor: pointer;
}
/* hiệu ứng nền phủ */

.modal__content {
  height: 800px;
  width: 623px;
  background-color: var(--bgColor2);
  border-radius: 16px;
  backdrop-filter: blur(70px);
  animation: fadeDown ease 0.25s;
}

@keyframes fadeDown {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }
  to {
    translatey: (0%);
    opacity: 1;
  }
}

.modal__header {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  height: 54px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.modal__header-title {
  font-weight: 600;
  font-size: 20px;
}

.modal__header-close {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: var(--bgColor3);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: ease 0.2s;
}

.modal__header-close > * {
  pointer-events: none;
}

.modal__header-close:hover {
  opacity: 0.5;
}

.modal__body {
  padding: 8px 16px;
  height: calc(800px - 54px);
  overflow: auto;
}
/* Tạo scrollbar -> content ko bị tràn */

.modal__body::-webkit-scrollbar {
  width: 4px;
}
/* Chỉnh độ rộng scrollbar */

.modal__body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
/* Chỉnh rãnh cuộn scrollbar */

.modal__body::-webkit-scrollbar-thumb {
  background: var(--gradientColor);
}
/* Chỉnh màu nút cuộn scrollbar */

.modal__group:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
}
/* ko ăn css cho modal__group ở cuối */

.modal__profile {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.modal__info-name {
  font-weight: 600;
}

.modal__info-dsc {
  color: var(--subTextColor);
}

.modal__detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.modal__detail-title {
  color: var(--subTextColor);
}

.modal__detail-text {
  font-weight: 500;
}

.modal__textarea-content {
  margin-top: 4px;
}

.modal__images {
  margin-top: 10px;
}

.modal__preview-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-top: 8px;
}

.modal__preview-images img {
  height: 237px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: ease 0.5s;
}

.modal__preview-images img:hover {
  opacity: 0.5;
}

/* end Modal Style */
