/* Images Fixed Style */
.image-fixed {
  position: fixed;
  top: 573px;
  left: 50%;
  right: 0;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.img-stars {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/* end Images Fixed Style */

/* Content */

.content {
  max-width: 664px;
  width: 100%;
  margin-inline: auto;
  margin-top: 96px;
}

.content__heading {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  color: transparent;
  background: var(--gradientColor);
  background-clip: text;
  -webkit-background-clip: text;
}

.content__desc {
  color: var(--subTextColor);
  margin-top: 20px;
  text-align: center;
}

.form-search {
  max-width: 500px;
  width: 100%;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 48px;
  background-color: var(--bgColor3);
  display: flex;
  padding: 5px 5px 5px 24px;
  align-items: center;
  margin-inline: auto;
  gap: 24px;
}

.form-search__input {
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--colorText);
}

.form-search__button {
  flex-shrink: 0;
}

/* end Content */

/* Scammers List */
.alert-scam {
  margin-top: 111px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: var(--bgColor4);
  padding-bottom: 20px;
}

.alert-scam__header {
  padding: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}

.alert-scam__desc {
  color: var(--subTextColor);
  margin-top: 8px;
}

.scammers__list {
  padding: 50px 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.scammers__item {
  background-color: var(--bgColor3);
  border-radius: 16px;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.scammer__name {
  font-weight: 600;
}

.scammer__date {
  color: var(--subTextColor);
}

.scammers__item:hover::before {
  left: auto;
  right: 0;
  width: 100%;
}
.scammers__item::before {
  content: "";
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #fff;
  opacity: 0.1;
  z-index: -1;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* end Scammers List */

/* Warning */
.warning {
  margin-top: 60px;
}

.warning__title {
  text-align: center;
}

.warning__list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.warning__item {
  background-color: var(--bgColor3);
  border-radius: 16px;
  padding: 16px;
  backdrop-filter: blur(70px);
}

/* .warning__item.active .warning__content {
  display: block; *
} */

.warning__header {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}

.warning__header > * {
  pointer-events: none;
}

/* ngăn chặn các sự kiện bên trong warning header (phần tử con) */

.warning__item-title {
  font-weight: 600;
}

.warning__header-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.warning__content {
  margin-left: 32px;
  color: var(--subTextColor);
  /* display: none; * */
  height: 0;
  overflow: hidden;
  transition: ease 0.2s;
}

.warning__content.active {
  margin-top: 8px;
  height: auto;
}
/* khi được active sẽ show ra warning content */

.warning__header-icon.active {
  transform: rotate(90deg);
  transition: transform ease 0.2s;
}
/* khi active sẽ lật icon */

/* end Warning */
